*{
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

:root{
  --bitcoin-orange: #F7931A;
  --soft-orange: #FFE9D5;
  --secondary-blue: #1A9AF7;
  --soft-blue: #E7F5FF;
  --black: #201E1C;
  --warm-black: #282623;
  --grey: #BABABA;
  --dark-gray: #757575;
  --off-white: #FAF8F7;
  --white: #FFFFFF;
}

html{
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
  scroll-behavior: smooth;
}

/* 
1. Posicionamiento
2. Box model
3. Tipografia
4. Detalles visuales
5. Otros 

to do
  Hacer position absolute el botón flotante del header, para que no dependa del margen y su posicion sirva para responsive.
*/

header{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 295px;
  min-width: 320px;
  text-align: center;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header > img{
  margin-top: 42px;
  width: 151px;
}

.header__title-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  min-width: 288px;
  margin-top:  36px;
  
}
.clickable{
  cursor: pointer;
}

.header__title-container > h1{
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 26px;
  color: var(--white);
}

.header__title-container > p{
  margin-top: 24px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--soft-orange);
}

.header__takeAction{
  position: absolute;
  display: flex;
  top: calc(100% - (48px/2));
  align-items: center;
  justify-content: center;
  width: 229px;
  height: 48px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 18px;
  color: var(--warm-black);
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  
}

.header__takeAction span{
  content: url("./assets/icons/arrow-down.svg");
  margin-left: 14px;
}

main{
  background-color: var(--off-white);
  min-width: 320px;
}

.exchange-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-bottom: 65px;
}


.exchange-container > img{  
  margin-top: 59px;
  width: 195px;
}

.exchange-container__title{
  margin-top: 40px;
  max-width: 700px;
}

.exchange-container__title h2{
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 26px;
  color: var(--warm-black);
}

.exchange-container__title p{
  margin-top: 24px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 18px;
  color: var(--dark-gray);
}

.coins-section{
  position: relative;
}

.coins-section__scroll-tables{

  display: flex;
  width: 190px;
  overflow-x: hidden;
}

.conatiner-monedas__wrapper{
  display: flex;
  --n: 1;
  --i: 0;
  --extra: 0px;
  width: calc(100% * var(--n));
  transform: translateX(
    calc( 
      (var(--i) / var(--n)) * -100% + var(--extra)
      ) 
  );
}

.conatiner-monedas__wrapper > *{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  pointer-events: none;
}

.smooth{
  transition: transform 0.3s ease-out;
}

.conatiner-monedas{
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.conatiner-monedas > h3{
  margin-left: 10px;
}

.conatiner-monedas__grid{
  display: grid;
  grid-template-columns: repeat(2, 95px);
  grid-template-rows: repeat(4, 39px);
  gap: 2px;
}

.conatiner-monedas__grid :nth-child(1){
  border-radius: 8px 0px 0px 0px;
}

.conatiner-monedas__grid :nth-child(2){
  border-radius: 0px 8px 0px 0px;
}

.conatiner-monedas__grid :nth-child(7){
  border-radius: 0px 0px 0px 8px;
}

.conatiner-monedas__grid :nth-child(8){
  border-radius: 0px 0px 8px 0px;
}

.conatiner-monedas__grid span{
  margin-left: 10px;
  
}
.conatiner-monedas__grid span.trending-up{
  content: url("./assets/icons/trending-up.svg");
}

.conatiner-monedas__grid span.trending-down{
  content: url("./assets/icons/trending-down.svg");
}

.conatiner-monedas__grid div{
  width: 100%;
  height: 100%;
  background-color: var(--white);
}

.conatiner-monedas__grid > div >*{
  padding: 10px;
}

.conatiner-monedas__grid h3{
  font-weight: 500;
  font-size: 1.6rem;
  text-align: left;
  letter-spacing: -0.02em;
  color: var(--grey);
}

.conatiner-monedas__grid p{
  margin-left: 10px;
  font-size: 1.4rem;
  letter-spacing: -0.02em;
  color: var(--dark-gray);
  text-align: left;
}

.conatiner-monedas > h3{
  text-align: left;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 23px;
  color: var(--bitcoin-orange);
}

.conatiner-monedas > p{
  padding: 8px;
  background-color: var(--soft-orange);
  border-radius: 8px;
}

.coins-section .conatiner-monedas:nth-of-type(2) > h3 {
  color: var(--secondary-blue);
}

.coins-section .conatiner-monedas:nth-of-type(2) > p {
  background-color: #E7F5FF;
}


.arrow{
  position: absolute;
  top: 128px;
  width: 24px;
  height: 24px;
  margin-top: 30px;
  content: url(./assets/icons/simple-arrow.svg);
  outline: none;
  right: 215px;
}

.arrow:last-of-type{
  right: 0;
  left: 215px;
}

.rotate{
  transform: rotate(180deg);
}

/* .icon{
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
} */



.main-product-detail{
  position: relative;
  padding: 64px 16px;
  background-color: var(--black);
  color: var(--white);
}

.potato{
  position: absolute;
  top: -12px;
  left: calc(50% - 20px);
  width: 40px;
  height: 25px;
  background-image: url("./assets/images/potato.svg");
  background-size: cover;
  background-position: center;
}

.main-product-detail__title{
  text-align: center;
}

.main-product-detail__title :nth-child(2){
  margin-top: 24px;
}

.principal-text{
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.6rem;
}

.secondary-text{
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--dark-gray);
}


.main-product-detail__cards-cointainer {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  max-width: 878px;
  margin: 0 auto;
}

.main-product-detail__card{
  min-width: 256px;
  max-width: 400px;
  min-height: 152px;
  margin-top: 16px; 
  background-color: var(--warm-black);
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  padding: 16px;
}

.main-product-detail__card .icon{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.clock{
  background-image: url("./assets/icons/clock.svg");
}

.eye{
  background-image: url("./assets/icons/eye.svg");
}

.dollar{
  background-image: url("./assets/icons/dollar-sign.svg");
}

.check-circle{
  background-image: url("./assets/icons/check-circle.svg");
}

.main-product-detail__card .principal-text{
  font-size: 1.8rem;
  margin-top: 12px;
  margin-bottom: 10px;
}

.main-image-transition-section{
  padding-top: 64px;
  text-align: center;
  height: 387px;
  background-image: url('./assets/images/person.jpg');
  background-size: cover;
  background-position: center;
}

.main-image-transition-section h2{
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: var(--white);  
}

.main-pricing{
  padding: 64px 15px;
  min-height: 409px;
}

.main-pricing__title{
  text-align: center;
}

.main-pricing__title :last-child{
  margin-top: 24px;
}

.main-pricing__carrousel{
  margin-top: 50px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.main-pricing__card{
  height: 247px;
  min-width: 190px;
  max-width: 266px;
  scroll-snap-align: center;
  width: 60%;
  position: relative;
  padding: 24px 20px;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  text-align: center;
}

.main-pricing__card > p {
  position: absolute;
  top: -15px;
  left: calc(50% - 50px);
  padding: 8px;
  border-radius: 8px;
  color: var(--white);
  background-color: var(--bitcoin-orange);
  font-family: 'Inter';
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.main-pricing__card--price{
  position: relative;
}

.main-pricing__card--price h3{
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-top: 11px;
}

.main-pricing__card--price p:first-of-type{
  margin-top: 8px;
  display: inline-block;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 6.3rem;
  letter-spacing: -0.08em;
}

.main-pricing__card--price span{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  vertical-align: 25px;
  
}

.main-pricing__card .secondary-text{
  margin-top: 16px;
}

.main-pricing__card button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-top: 16px;
  padding: 16px 21px 16px 16px;
  background: var(--off-white);
  border: 2px solid var(--bitcoin-orange);
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.main-pricing__card button span{
  content: url('./assets/icons/arrow-right.svg');
}

footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 150px;
  padding: 0px 65px;
  background-color: var(--bitcoin-orange);
}

footer ul{
  list-style: none;
}

footer ul li a{
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
}